.box{

    

.box-active {
    
    border: solid 1px brown;
}

.box-unactive {

    background-color: gray;
    border: solid 1px black;
}
// button {

//     background-color: indianred;
//     width: 100px;
//     height: 20px;

// }

}

// .main-page{
//     display: flex;
//     flex-direction: column;
//     align-items: right;

// }