.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    // background-color:alpha($color: #ffffff);
    background-image: linear-gradient(0deg, #FE6B8B 30%, #FF8E53 90%);

    
    align-items: center;
    height: 75px;
    
    
    
    .navbar-pane  {
        display: flex;
        width: 60%;
        height: 100%;
        // border: double;
        button{
            // padding: auto 10px ;
            // margin: auto 30px;
            background-image: linear-gradient(0deg, #FE6B8B 30%, #FF8E53 90%);
            height: 100%;
            width: 100%;
            border-radius: 0;
        }
        button:hover{
            border: 3px solid white;
        } 
}
}
